# My First Data Science Notebook

## Introduction
This notebook introduces various data science tools, languages, and libraries.

## Data Science Languages
- Python
- R
- SQL
- Julia

## Data Science Libraries
- Pandas
- Numpy
- Matplotlib
- Scikit-learn

## Data Science Tools
| Tool        | Purpose                               |
|-------------|---------------------------------------|
| Jupyter    | Interactive Notebooking               |
| RStudio    | R Development                         |
| PyCharm    | Python Development                    |
| SQL Workbench | SQL Database Interaction            |

## Arithmetic Expressions
Below are examples of basic arithmetic operations.

In [24]:
# Multiplication
s = 5 * 5;
print("product:", s)

# Addition
d = 5 + 4;
print("sum:", d)

product: 25
sum: 9

In [12]:
mins = 120
h = mins / 60
print(f"{mins} minutes is equal to {h} hours.")

120 minutes is equal to 2.0 hours.

## Objectives
- Understand data science tools and libraries.
- Practice arithmetic operations.
- Familiarize with Jupyter notebooks.

## Author
JÃ¡nos Tigyi